@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.header {
    height: 100px;
    background-color: #ffde59;
    min-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 240px;
}

.social {
    display: flex;
    justify-content: space-between;
    min-width: 338px;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 85px;
    height: 85px;
}

.search {
    background-color: #c4c4c4;
    width: 704px;
    height: 43px;
}

#vk_header {
    width: 59px;
    height: 34px;
}

#instagram_header {
    width: 42px;
    height: 42px;
}

#telegram_header {
    width: 41px;
    height: 41px;
}

#header_text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    width: 59px;
    height: 24px;
}

.main {
    display: flex;
    min-height: 100vh;
    min-width: 1920px;
    padding: 177px 240px;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
}
.category {
    font-size: 36px;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.element {
    width: 250px;
    height: 180px;
    background-color: #131a35;
}

.return {
    display: flex;
    justify-content: end;
    font-size: 24px;
}

.footer {
    height: 100px;
    background: #131a35;
    min-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
}

.credentials {
    width: 210px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    height: 41px;
    width: 210px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#vk_footer {
    width: 45px;
    height: 26px;
}

#instagram_footer {
    width: 42px;
    height: 42px;
}

#telegram_footer {
    width: 41px;
    height: 41px;
}

#footer_text {
    bottom: 8px;
    right: 0px;
    font-size: 24px;
    color: #ffde59;
}
